@page
@model CrystalByRiya.Areas.Admin.Pages.Reports.IndexModel

<div class="container-fluid mt-3">
    <div class="row">
        <!-- Total Orders -->
        <div class="col-lg-4 col-sm-6">
            <div class="card gradient-1">
                <div class="card-body">
                    <h3 class="card-title text-white">Total Orders</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@Model.TotalOrders</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                </div>
            </div>
        </div>

        <!-- Total Sales -->
        <div class="col-lg-4 col-sm-6">
            <div class="card gradient-2">
                <div class="card-body">
                    <h3 class="card-title text-white">Total Sales</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@Model.TotalSales</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                </div>
            </div>
        </div>

        <!-- Total Registered Users -->
        <div class="col-lg-4 col-sm-6">
            <div class="card gradient-3">
                <div class="card-body">
                    <h3 class="card-title text-white">Total Registered Users</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@Model.TotalRegisteredUsers</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Sales Chart -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body pb-0 d-flex justify-content-between">
                    <div>
                        <h4 class="mb-1">Sales Overview</h4>
                        <p>Total Earnings of the Month</p>
                        <h3 class="m-0">Rs @Model.TotalSales</h3>
                    </div>
                    <div>
                        <ul>
                            <li class="d-inline-block mr-3"><a class="text-dark" href="#">Day</a></li>
                            <li class="d-inline-block mr-3"><a class="text-dark" href="#">Week</a></li>
                            <li class="d-inline-block"><a class="text-dark" href="#">Month</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div id="chartdiv" style="border: 1px solid #ccc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawSalesChart);

        function drawSalesChart() {
            $(function () {
                $.ajax({
                    type: 'GET',
                    url: '/api/Order',
                    success: function (chartsdata) {
                        var Data = chartsdata;
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Product Name');
                        data.addColumn('number', 'Total Sales');

                        // Populate data into chart
                        for (var i = 0; i < Data.length; i++) {
                            data.addRow([Data[i].productName, Data[i].totalSales]);
                        }

                        var chart = new google.visualization.PieChart(document.getElementById('chartdiv'));
                        chart.draw(data, { title: "Total Sales", width: 900, height: 500 });
                    },
                    error: function () {
                        alert("Error loading data! Please try again.");
                    }
                });
            });
        }
    </script>
}
