@page
@model CrystalByRiya.Areas.Admin.Pages.BlogsFaq.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BlogFaq</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlogFaq.Id" />
            <div class="form-group">
                <label asp-for="BlogFaq.BlogId" class="control-label"></label>
                <input asp-for="BlogFaq.BlogId" class="form-control" />
                <span asp-validation-for="BlogFaq.BlogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogFaq.Question" class="control-label"></label>
                <input asp-for="BlogFaq.Question" class="form-control" />
                <span asp-validation-for="BlogFaq.Question" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="BlogFaq.Answer" class="control-label"></label>
                        <textarea id="editor" name="LongDescription" class="form-control" style="height:1250px;" required></textarea>
                        <span asp-validation-for="BlogFaq.Answer" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#editor'), {
            toolbar: {
                items: [
                    'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', '|',
                    'undo', 'redo', '|', 'insertTable', 'mediaEmbed'
                ]
            },
            heading: {
                options: [
                    { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                    { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                    { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                    { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                    { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                    { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                    { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                ]
            }
        })
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
    </script>
}
