@page
@model CrystalByRiya.Areas.Admin.Pages.Blog.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Blogs</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Blogs.BlogTitle" class="control-label"></label>
                <input asp-for="Blogs.BlogTitle" class="form-control" required />
                <span asp-validation-for="Blogs.BlogTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blogs.ShortDescription" class="control-label"></label>
                <input asp-for="Blogs.ShortDescription" class="form-control" required />
                <span asp-validation-for="Blogs.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blogs.Blogdescription" class="control-label"></label>
                <textarea  name="editor" class="form-control" style="height: 1250px;" required></textarea>
            
            </div>
            <div class="form-group">
                <label asp-for="Blogs.PublishedDate" class="control-label"></label>
                <input asp-for="Blogs.PublishedDate" class="form-control" required />
                <span asp-validation-for="Blogs.PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blogs.Author" class="control-label"></label>
                <input asp-for="Blogs.Author" class="form-control" required />
                <span asp-validation-for="Blogs.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blogs.Category" class="control-label"></label>
                <input asp-for="Blogs.Category" class="form-control" required />
                <span asp-validation-for="Blogs.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blogs.Image" class="control-label"></label>
                <input name="Image" class="form-control" type="file" required />
               
            </div>
            <div class="form-group">
                <label asp-for="Blogs.CustomUrl" class="control-label"></label>
                <input asp-for="Blogs.CustomUrl" class="form-control" required />
                <span asp-validation-for="Blogs.CustomUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blogs.ThumbnailImage" class="control-label"></label>
              
                <input name="ThumbnailImage" class="form-control" type="file" required />
            </div>
            <div class="form-group">
                <label asp-for="Blogs.Keywords" class="control-label"></label>
                <input asp-for="Blogs.Keywords" class="form-control" required />
                <span asp-validation-for="Blogs.Keywords" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Blogs.IsActive" /> @Html.DisplayNameFor(model => model.Blogs.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Blogs.Alttext" class="control-label"></label>
                <input asp-for="Blogs.Alttext" class="form-control" required />
                <span asp-validation-for="Blogs.Alttext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blogs.Tags" class="control-label"></label>
                <input asp-for="Blogs.Tags" class="form-control" required />
                <span asp-validation-for="Blogs.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blogs.MetaTag" class="control-label"></label>
                <input asp-for="Blogs.MetaTag" class="form-control" required />
                <span asp-validation-for="Blogs.MetaTag" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Blogs.MetaDescription" class="control-label"></label>
                <input asp-for="Blogs.MetaDescription" class="form-control" required />
                <span asp-validation-for="Blogs.MetaDescription" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Blogs.MetaTitle" class="control-label"></label>
                    <textarea asp-for="Blogs.MetaTitle" class="form-control" style="height:1250px;" name="title" required></textarea>
                    <span asp-validation-for="Blogs.MetaTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <!-- Include Froala Editor CSS and JS -->

    <script src="https://cdn.ckeditor.com/4.22.0/full-all/ckeditor.js"></script>




    <script>
        CKEDITOR.replace( 'editor' );
        CKEDITOR.replace( 'title' );
    </script>
    
}

