@model CrystalByRiya.Models.ViewModel.ChildViewModel

@foreach (var product in Model.Categories)
{


    <li><a asp-page="/productlist" class="sub-menu_link"  asp-route-catname="@product.MenuList.Replace(' ', '-')">@product.MenuList</a></li>
            
      
    
    
}

