@page
@model CrystalByRiya.Pages.adminloginModel

<!-- Page Title -->
<section class="s-page-title">
    <div class="bg-overlay" style="background-image: url(images/banner/pexels-dan-nelson-1667453-4973899.jpg);">
    </div>
    <div class="container">
        <div class="content">
            <h1 class="title-page">Admin Login</h1>
            <ul class="breadcrumbs-page">
                <li><a asp-page="/Index" class="h6 link">Home</a></li>
                <li class="d-flex"><i class="icon icon-caret-right"></i></li>
                <li>
                    <h6 class="current-page fw-normal">Admin Login</h6>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- /Page Title -->

<!-- Login -->
<section class="flat-spacing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="form-wrapper">
                    <form method="post" class="form-login">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger mb-3" role="alert">
                                @Model.ErrorMessage
                            </div>
                        }

                        <div class="list-ver">
                            <fieldset>
                                <input asp-for="EmailId" type="email" placeholder="Enter your email address *" required="">
                            </fieldset>
                            <fieldset class="password-wrapper mb-8">
                                <input asp-for="Password" class="password-field" type="password" placeholder="Password *" required="">
                                <span class="toggle-pass icon-show-password"></span>
                            </fieldset>
                            <div class="check-bottom">
                                <div class="checkbox-wrap">
                                    <input id="remember" type="checkbox" class="tf-check">
                                    <label for="remember" class="h6">Keep me signed in</label>
                                </div>
                                
                            </div>
                        </div>

                        <button id="btnAdminLogin" type="submit" class="tf-btn animate-btn w-100">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Login -->
