@page
@model CrystalByRiya.Pages.blogModel
@{
}
@section Metatags {
    <title> Crystal By Riya | Blogs</title>
    <meta name="keywords" content="Healing stones,Crystals and Gemstones,Healing crystals,Natural stones,Authentic crystals,Original crystals,Crystal jewellery,Sterling Silver Jewellery,Silver jewellery crystals,Silver jewellery" />
    <link rel="canonical" href="@Model.Currenturl" />
    <meta property="og:title" content="Crystals By Riya | Blogs" />
    <meta property="og:url" content="@Model.Currenturl" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://djelgxoby50a9.cloudfront.net/logo/logo.png" />
    <meta property="og:site_name" content="https://www.crystalsbyriya.com" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://www.crystalsbyriya.com">
    <meta name="twitter:title" content="Crystal By Riya | Blogs">
    <meta name="twitter:description" content="Placing our customers at the core of everything we do, understanding their needs, and exceeding their expectations.">
    <meta name="twitter:creator" content="Crystals By Riya">
    <meta name="twitter:image" content="https://djelgxoby50a9.cloudfront.net/logo/logo.png">
    <meta name="twitter:domain" content="https://www.crystalsbyriya.com" />
}

<!-- Page Title -->
<section class="s-page-title parallaxie has-bg" style='background-image: url("images/section/blog.jpg")'>
    <div class="container position-relative z-5">
        <div class="content">
            <h1 class="title-page text-white">Blog Grid</h1>
            <ul class="breadcrumbs-page">
                <li><a href="index.html" class="h6 text-white link">Home</a></li>
                <li class="d-flex"><i class="icon icon-caret-right text-white"></i></li>
                <li>
                    <h6 class="current-page fw-normal text-white">Blog Grid</h6>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- /Page Title -->
<!-- Blog Grid -->
<div class="flat-spacing">
    <div class="container">
        <div class="tf-grid-layout sm-col-2 lg-col-3">
            <div class="article-blog hover-img4">
                <div class="blog-image">
                    <a href="blog-detail.html" class="entry_image img-style4">
                        <img src="images/blog/article-1.jpg" data-src="images/blog/article-1.jpg" alt="" class="lazyload">
                    </a>
                    <div class="entry_tag">
                        <span class="name-tag h6">Elegance</span>
                    </div>
                </div>
                <div class="blog-content">
                    <a href="blog-detail.html" class="entry_name link h4">
                        Nike Sportswear Tee Shirts
                    </a>
                    <p class="entry_date">March 25, 2025</p>
                </div>
            </div>
            <div class="article-blog hover-img4">
                <div class="blog-image">
                    <a href="blog-detail.html" class="entry_image img-style4">
                        <img src="images/blog/article-2.jpg" data-src="images/blog/article-2.jpg" alt="" class="lazyload">
                    </a>
                    <div class="entry_tag">
                        <span class="name-tag h6">Elegance</span>
                    </div>
                </div>
                <div class="blog-content">
                    <a href="blog-detail.html" class="entry_name link h4">
                        Nike Sportswear Tee Shirts
                    </a>
                    <p class="entry_date">March 25, 2025</p>
                </div>
            </div>
            <div class="article-blog hover-img4">
                <div class="blog-image">
                    <a href="blog-detail.html" class="entry_image img-style4">
                        <img src="images/blog/article-3.jpg" data-src="images/blog/article-3.jpg" alt="" class="lazyload">
                    </a>
                    <div class="entry_tag">
                        <span class="name-tag h6">Elegance</span>
                    </div>
                </div>
                <div class="blog-content">
                    <a href="blog-detail.html" class="entry_name link h4">
                        Nike Sportswear Tee Shirts
                    </a>
                    <p class="entry_date">March 25, 2025</p>
                </div>
            </div>
            <div class="article-blog hover-img4">
                <div class="blog-image">
                    <a href="blog-detail.html" class="entry_image img-style4">
                        <img src="images/blog/article-4.jpg" data-src="images/blog/article-4.jpg" alt="" class="lazyload">
                    </a>
                    <div class="entry_tag">
                        <span class="name-tag h6">Minimalism Style</span>
                    </div>
                </div>
                <div class="blog-content">
                    <a href="blog-detail.html" class="entry_name link h4">
                        Nike Sportswear Tee Shirts
                    </a>
                    <p class="entry_date">March 25, 2025</p>
                </div>
            </div>
            <div class="article-blog hover-img4">
                <div class="blog-image">
                    <a href="blog-detail.html" class="entry_image img-style4">
                        <img src="images/blog/article-5.jpg" data-src="images/blog/article-5.jpg" alt="" class="lazyload">
                    </a>
                    <div class="entry_tag">
                        <span class="name-tag h6">Minimalism Style</span>
                    </div>
                </div>
                <div class="blog-content">
                    <a href="blog-detail.html" class="entry_name link h4">
                        Nike Sportswear Tee Shirts
                    </a>
                    <p class="entry_date">March 25, 2025</p>
                </div>
            </div>
            <div class="article-blog hover-img4">
                <div class="blog-image">
                    <a href="blog-detail.html" class="entry_image img-style4">
                        <img src="images/blog/article-6.jpg" data-src="images/blog/article-6.jpg" alt="" class="lazyload">
                    </a>
                    <div class="entry_tag">
                        <span class="name-tag h6">Minimalism Style</span>
                    </div>
                </div>
                <div class="blog-content">
                    <a href="blog-detail.html" class="entry_name link h4">
                        Nike Sportswear Tee Shirts
                    </a>
                    <p class="entry_date">March 25, 2025</p>
                </div>
            </div>
            <div class="article-blog hover-img4">
                <div class="blog-image">
                    <a href="blog-detail.html" class="entry_image img-style4">
                        <img src="images/blog/article-7.jpg" data-src="images/blog/article-7.jpg" alt="" class="lazyload">
                    </a>
                    <div class="entry_tag">
                        <span class="name-tag h6">Trend Vintage</span>
                    </div>
                </div>
                <div class="blog-content">
                    <a href="blog-detail.html" class="entry_name link h4">
                        Nike Sportswear Tee Shirts
                    </a>
                    <p class="entry_date">March 25, 2025</p>
                </div>
            </div>
            <div class="article-blog hover-img4">
                <div class="blog-image">
                    <a href="blog-detail.html" class="entry_image img-style4">
                        <img src="images/blog/article-8.jpg" data-src="images/blog/article-8.jpg" alt="" class="lazyload">
                    </a>
                    <div class="entry_tag">
                        <span class="name-tag h6">Trend Vintage</span>
                    </div>
                </div>
                <div class="blog-content">
                    <a href="blog-detail.html" class="entry_name link h4">
                        Nike Sportswear Tee Shirts
                    </a>
                    <p class="entry_date">March 25, 2025</p>
                </div>
            </div>
            <div class="article-blog hover-img4">
                <div class="blog-image">
                    <a href="blog-detail.html" class="entry_image img-style4">
                        <img src="images/blog/article-9.jpg" data-src="images/blog/article-9.jpg" alt="" class="lazyload">
                    </a>
                    <div class="entry_tag">
                        <span class="name-tag h6">Trend Vintage</span>
                    </div>
                </div>
                <div class="blog-content">
                    <a href="blog-detail.html" class="entry_name link h4">
                        Nike Sportswear Tee Shirts
                    </a>
                    <p class="entry_date">March 25, 2025</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Blog Grid -->