@page
@model CrystalByRiya.Pages.contactusModel
@{
}
@section Metatags {
    <title> Crystal By Riya | Pre-Owned Excellence</title>
    <meta name="keywords" content="Healing stones,Crystals and Gemstones,Healing crystals,Natural stones,Authentic crystals,Original crystals,Crystal jewellery,Sterling Silver Jewellery,Silver jewellery crystals,Silver jewellery" />
    <link rel="canonical" href="@Model.Currenturl" />
    <meta property="og:title" content="Crystals By Riya | Home" />
    <meta property="og:url" content="@Model.Currenturl" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://djelgxoby50a9.cloudfront.net/logo/logo.png" />
    <meta property="og:site_name" content="https://www.crystalsbyriya.com" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://www.crystalsbyriya.com">
    <meta name="twitter:title" content="Epitome Cars | Pre-Owned Excellence">
    <meta name="twitter:description" content="Placing our customers at the core of everything we do, understanding their needs, and exceeding their expectations.">
    <meta name="twitter:creator" content="Crystals by Riya">
    <meta name="twitter:image" content="https://djelgxoby50a9.cloudfront.net/logo/logo.png">
    <meta name="twitter:domain" content="https://www.crystalsbyriya.com" />
}

<section class="s-page-title">
    <div class="container">
        <div class="content">
            <h1 class="title-page">Contact Us</h1>
            <ul class="breadcrumbs-page">
                <li><a href="index.html" class="h6 link">Home</a></li>
                <li class="d-flex"><i class="icon icon-caret-right"></i></li>
                <li>
                    <h6 class="current-page fw-normal">Contact Us</h6>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- /Page Title -->
<!-- Information -->
<section class="s-contact-information flat-spacing">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-7">
                <div class="image mb-lg-0">
                    <img loading="lazy" width="820" height="755" src="images/section/contact-information.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="infor-content">
                    <p class="title h1 fw-medium text-black">Contact Infomation</p>
                    <ul class="infor-store">
                        <li>
                            <h5 class="caption fw-semibold">Address</h5>
                            <p class="h6 mb-12">2972 Westheimer Rd. Santa Ana, Illinois 85486 </p>
                            <a href="https://www.google.com/maps?q=2972+Westheimer+Rd.+Santa+Ana,Illinois+85486" target="_blank" class="tf-btn-line">
                                <span class="h6 text-capitalize fw-semibold">
                                    Get Direction
                                </span>
                                <i class="icon icon-arrow-top-right fs-20"></i>
                            </a>
                        </li>
                        <li>
                            <h5 class="caption fw-semibold">Contact Us</h5>
                            <ul class="store-contact list-ver">
                                <li>
                                    <i class="icon icon-phone"></i>
                                    <span class="br-line type-vertical"></span>
                                    <a href="tel:+88001234567" class="h6 link">+8(800) 123 4567</a>
                                </li>
                                <li>
                                    <i class="icon icon-envelope-simple"></i>
                                    <span class="br-line type-vertical"></span>
                                    <a href="mailto:themesflat@support.com" class="h6 link">themesflat@support.com</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h5 class="caption fw-semibold">Social Media</h5>
                            <ul class="tf-social-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank" class="social-facebook">
                                        <span class="icon"><i class="icon-fb"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank" class="social-instagram">
                                        <span class="icon"><i class="icon-instagram-logo"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://x.com/" target="_blank" class="social-x">
                                        <span class="icon"><i class="icon-x"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/" target="_blank" class="social-tiktok">
                                        <span class="icon"><i class="icon-tiktok"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Information -->
<!-- Wg Map -->
<section class="s-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7880.148272329334!2d151.20657421407668!3d-33.858885268389294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae682c546039%3A0x16da940d587922a1!2sCircular%20Quay!5e0!3m2!1sen!2s!4v1745205798630!5m2!1sen!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<!-- /Wg Map -->
<!-- Contact Form -->
<section class="s-contact-form flat-spacing">
    <div class="container">
        <div class="sect-title text-center">
            <p class="h1 title mb-8">Contact Form</p>
            <p class="s-subtitle h6">Contact us using the form below, we will contact you as soon as possible</p>
        </div>
        <form class="form-contact-2">
            <div class="form-content">
                <div class="tf-grid-layout md-col-3">
                    <fieldset>
                        <input type="text" placeholder="Your name" required="">
                    </fieldset>
                    <fieldset>
                        <input type="number" placeholder="Your phone number" required="">
                    </fieldset>
                    <fieldset>
                        <input type="email" placeholder="Your email" required="">
                    </fieldset>
                </div>
                <textarea placeholder="Review"></textarea>
            </div>
            <div class="form-action">
                <button type="submit" class="h6 tf-btn animate-btn">
                    Send message
                </button>
            </div>
        </form>
    </div>
</section>
<!-- /Contact Form -->
<!-- Gallery -->
<div class="themesFlat flat-spacing pt-0 pb-xl-0">
    <div class="container">
        <div class="sect-title text-center wow fadeInUp">
            <p class="s-title h1 fw-medium mb-8">Shop Instagram</p>
            <p class="s-subtitle h6">Up to 50% off Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
    <div dir="ltr" class="swiper tf-swiper wow fadeInUp" data-preview="4" data-tablet="3" data-mobile-sm="2" data-mobile="2" data-space="0" data-pagination="2" data-pagination-sm="2" data-pagination-md="3" data-pagination-lg="4">
        <div class="swiper-wrapper">
            <!-- item 1 -->
            <div class="swiper-slide">
                <div class="gallery-item style-2 hover-img hover-overlay">
                    <div class="image img-style">
                        <img class="lazyload" src="images/gallery/gallery-11.jpg" data-src="images/gallery/gallery-11.jpg" alt="">
                    </div>
                    <a href="product-detail.html" class="box-icon hover-tooltip">
                        <span class="icon icon-instagram-logo"></span>
                        <span class="tooltip">View product</span>
                    </a>
                </div>
            </div>
            <!-- item 2 -->
            <div class="swiper-slide">
                <div class="gallery-item style-2 hover-img hover-overlay">
                    <div class="image img-style">
                        <img class="lazyload" src="images/gallery/gallery-12.jpg" data-src="images/gallery/gallery-12.jpg" alt="">
                    </div>
                    <a href="product-detail.html" class="box-icon hover-tooltip">
                        <span class="icon icon-instagram-logo"></span>
                        <span class="tooltip">View product</span>
                    </a>
                </div>
            </div>
            <!-- item 3 -->
            <div class="swiper-slide">
                <div class="gallery-item style-2 hover-img hover-overlay">
                    <div class="image img-style">
                        <img class="lazyload" src="images/gallery/gallery-13.jpg" data-src="images/gallery/gallery-13.jpg" alt="">
                    </div>
                    <a href="product-detail.html" class="box-icon hover-tooltip">
                        <span class="icon icon-instagram-logo"></span>
                        <span class="tooltip">View product</span>
                    </a>
                </div>
            </div>
            <!-- item 4 -->
            <div class="swiper-slide">
                <div class="gallery-item style-2 hover-img hover-overlay">
                    <div class="image img-style">
                        <img class="lazyload" src="images/gallery/gallery-14.jpg" data-src="images/gallery/gallery-14.jpg" alt="">
                    </div>
                    <a href="product-detail.html" class="box-icon hover-tooltip">
                        <span class="icon icon-instagram-logo"></span>
                        <span class="tooltip">View product</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="sw-dot-default tf-sw-pagination"></div>
    </div>
</div>
<!-- /Gallery -->