@page

@{
    ViewData["Title"] = "Privacy Policy";
}
@section Metatags {
    <title> Crystal By Riya | Privacy</title>
    <meta name="keywords" content="Healing stones,Crystals and Gemstones,Healing crystals,Natural stones,Authentic crystals,Original crystals,Crystal jewellery,Sterling Silver Jewellery,Silver jewellery crystals,Silver jewellery" />
    <link rel="canonical" href="https://www.crystalsbyriya.com/privacy" />
    <meta property="og:title" content="Crystals By Riya | Home" />
    <meta property="og:url" content="https://www.crystalsbyriya.com/privacy" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.crystalsbyriya.com/assets/img/logo.png" />
    <meta property="og:site_name" content="https://www.crystalsbyriya.com" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://www.crystalsbyriya.com">
    <meta name="twitter:title" content="Epitome Cars | Privacy">
    <meta name="twitter:description" content="Placing our customers at the core of everything we do, understanding their needs, and exceeding their expectations.">
    <meta name="twitter:creator" content="Crystals by Riya">
    <meta name="twitter:image" content="https://www.crystalsbyriya.com/assets/img/logo.png">
    <meta name="twitter:domain" content="https://www.crystalsbyriya.com" />
}

<main class="main-content">
    <!--== Start Page Title Area ==-->
    <div class="page-title-area page-title-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content content-style-2">
                        <div class="bread-crumbs"><a asp-page="/Index">Home<span class="breadcrumb-sep">&gt;</span></a><a href="javascript:void(0);">Privacy</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Title Area ==-->
    <!--== Start Product Area Wrapper ==-->
    <section class="blog-detail-area pt-3 pt-md-4 area-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 style="font-weight:bold;">What will we do </h6>
                    <p>The crystals and gemstones website takes your privacy severely and does not now proportion your personal information with third events. We acquire your call, email cope with, and delivery address to meet your orders.</p>
                    <p>When you browse our store, we also robotically receive your laptop’s internet protocol (IP) deal so that it will offer us with statistics that facilitates us learning about your browser and operating machine.</p>
                    <p>Email Marketing : With your appreciation we may also offer updates approximately on our cutting-edge merchandise , upcoming occasions. We will make certain on an inexpensive industrial efforts basis that the third parties and marketers employed via us for the functions of the Website are under a duty to maintain confidentiality with admire to the Personal Information supplied by means of the Users and to apply it strictly for the purposes </p>
                    <p>We use cookies to improve your browsing reports. You can disable cookies for your browser settings each time.</p>
                    <p>
                        We can also accumulate additional records including your IP address, browser kind, and device records to assist us improve our website and services. We use secure servers and encryption to defend your private facts. We will preserve your records so long as vital to fulfill your orders or as required by way of regulation. You can request to get an entry to, update, or delete your private facts by contacting us. By using our website, you agree to our privateness policy.
                        Our privacy policy is concerned to change at any time without observing. Please review the coverage periodically.
                    </p>
                    <p>
                        Identity robbery and the practice currently referred to as “phishing” are of super subject to the Company. Safeguarding information to assist defend You from identity theft is a pinnacle precedence. We do not know and will not, at any time, request your credit card records or country wide identity numbers in a non-stable or unsolicited email or smartphone conversation.
                        If you have any questions about our Privacy Policy, the practices of the Company or your dealings with the Website, you can feel free to reach out to us through the hyperlinks at the bottom of the web page or e-mail us to our guide group.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->

</main>

