@page
@model CrystalByRiya.Pages.shippingModel
@{
}
@section Metatags {
    <title> Crystal By Riya | Pre-Owned Excellence</title>
    <meta name="keywords" content="Healing stones,Crystals and Gemstones,Healing crystals,Natural stones,Authentic crystals,Original crystals,Crystal jewellery,Sterling Silver Jewellery,Silver jewellery crystals,Silver jewellery" />
    <link rel="canonical" href="@Model.Currenturl" />
    <meta property="og:title" content="Crystals By Riya | Home" />
    <meta property="og:url" content="@Model.Currenturl" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.crystalsbyriya.com/assets/img/logo.png" />
    <meta property="og:site_name" content="https://www.crystalsbyriya.com" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://www.crystalsbyriya.com">
    <meta name="twitter:title" content="Epitome Cars | Pre-Owned Excellence">
    <meta name="twitter:description" content="Placing our customers at the core of everything we do, understanding their needs, and exceeding their expectations.">
    <meta name="twitter:creator" content="Crystals by Riya">
    <meta name="twitter:image" content="https://www.crystalsbyriya.com/assets/img/logo.png">
    <meta name="twitter:domain" content="https://www.crystalsbyriya.com" />
}

<main class="main-content">
    <!--== Start Page Title Area ==-->
    <div class="page-title-area page-title-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content content-style-2">
                        <div class="bread-crumbs"><a href="/index">Home<span class="breadcrumb-sep">&gt;</span></a><a href="javascript:void(0);">Shipping Policy</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Title Area ==-->
    <!--== Start Product Area Wrapper ==-->
    <section class="blog-detail-area pt-3 pt-md-4 area-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 style="font-weight:bold;">DELIVERY, CANCELLATION AND REFUND </h6>

                    <p><strong>Shipping Methods:</strong> We are well timed for transport. Cancellation of merchandise: Note that it's far best responsible for cancellation if a video evidence of the damaged merchandise is connected inside 48 hours; otherwise, it may not be processed for cancellation.</p>

                    <p><strong>Processing Time: </strong>After receiving your order, we can process and put it together for cargo. Processing time consists of the time taken to verify your order, conduct excellent checks, package the objects, and quit the equal to the delivery provider. The anticipated processing time will really be indicated on the product page or at some stage in the checkout technique for each unique product. (0-4 working days).</p>

                    <p><strong>Shipping Time: </strong>Shipping time is the period it takes for the package deal upon leaving our facility to reach your destination, as indicated within the shipping address. This largely differs with appreciation to the vacation spot and selected method of cargo. Estimated transport times for each delivery method can be anywhere from 7-10 working days after dispatch.</p>

                    <p><strong>Tracking: </strong>For most orders, we provide you with a monitoring range, so that you can be very beneficial in tracking the progress of your cargo. Upon shipping your order, you'll be sent email info that encompasses the approaches of tracking your parcel.</p>

                    <p>
                        <strong>  International Shipping: </strong>We ship across the world to countries we've got targeted for the provision for. All worldwide orders can be charged with customs expenses, taxes, and different prices, according to the government. These are the sole duty of the recipient. Please be aware that we cannot hold the records on customs guidelines, as it varies greatly; subsequently, you are recommended to contact your local customs workplace for further inquiries, if need be.
                    </p>

                    <p>
                        Shipping Restrictions Some products should have shipping restrictions or rules imposed by means of local authorities or transport vendors. If your preferred merchandise or shipping address has any regulations, we can touch you throughout checkout or name you individually to discuss alternatives.
                    </p>
                    <p><strong>Delivery Issues: </strong>If there may be an issue with the delivery of your package deal, as both misplaced or no longer turning up for quite a while, please contact our customer service group. We will paintings with the shipping provider to solve the problem as soon as possible and make certain the delivery of your order.</p>
                    <p>
                        <strong> Shipping Costs: </strong>The transport prices are calculated by way of weight, size, destination, and decided on delivery approach. Applicable shipping prices will be displayed for the duration of the checkout method earlier than you whole your order.
                    </p>

                    <p><strong>Changes to Shipping Policy: </strong>We reserve the right to change or update our shipping policy at any time. Any revision to this policy will display in this web page, therefore we encourage you to check this coverage on occasion.</p>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->

</main>