@page
@model CrystalByRiya.Pages.termandconditionsModel
@{
}
@section Metatags {
    <title> Crystal By Riya | Pre-Owned Excellence</title>
    <meta name="keywords" content="Healing stones,Crystals and Gemstones,Healing crystals,Natural stones,Authentic crystals,Original crystals,Crystal jewellery,Sterling Silver Jewellery,Silver jewellery crystals,Silver jewellery" />
    <link rel="canonical" href="@Model.Currenturl" />
    <meta property="og:title" content="Crystals By Riya | Home" />
    <meta property="og:url" content="@Model.Currenturl" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://djelgxoby50a9.cloudfront.net/logo/logo.png" />
    <meta property="og:site_name" content="https://www.crystalsbyriya.com" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://www.crystalsbyriya.com">
    <meta name="twitter:title" content="Epitome Cars | Pre-Owned Excellence">
    <meta name="twitter:description" content="Placing our customers at the core of everything we do, understanding their needs, and exceeding their expectations.">
    <meta name="twitter:creator" content="Crystals by Riya">
    <meta name="twitter:image" content="https://djelgxoby50a9.cloudfront.net/logo/logo.png">
    <meta name="twitter:domain" content="https://www.crystalsbyriya.com" />
}

<main class="main-content">
    <!--== Start Page Title Area ==-->
    <div class="page-title-area page-title-area2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content content-style-2">
                        <div class="bread-crumbs"><a href="/index">Home<span class="breadcrumb-sep">&gt;</span></a><a href="javascript:void(0);">Terms and Conditions</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Title Area ==-->
    <!--== Start Product Area Wrapper ==-->
    <section class="blog-detail-area pt-3 pt-md-4 area-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Terms and conditions are essential in your internet site to set up the rules and tips for customers. Here’s an example of the content material you may include:</p>

                    <p><strong>1. Introduction:</strong> <br />These phrases and situations govern your use of our website. By having access to or using our internet site, you agree to conform with these phrases and conditions.</p>

                    <p><strong>2. Intellectual Property:</strong><br />All content material on this internet site, which include text, portraits, emblems, images, and software, is the belongings of Crystalsbyriya and protected with the aid of highbrow belongings laws. You may not use, alter, distribute, or reproduce any content without our previous written consent.</p>

                    <p><strong>3. User Conduct: </strong><br />By accessing the Website and using it, you (“Member”, “You”, “Your”) indicate that you understand the terms and unconditionally & expressly consent to the Terms of Usage of this Website. If you do not agree with the Terms of Usage, please do not click on the “I AGREE” button. The User is advised to read the Terms of Usage carefully before using or registering on the Website or accessing any material, information or services through the Website. Your use and continued usage of the Website (irrespective of the amendments made from time to time) shall signify your acceptance of the terms of usage and your agreement to be legally bound by the same.</p>

                    <p><strong>4. Third-Party Links: </strong><br />Our website may contain links to third-party websites. We do not endorse or have control over the content or privacy policies of these websites. Your interactions with third-party websites are at your own risk, and we are not responsible for any damages or losses incurred.</p>

                    <p>
                        <strong>  5. Limitation of Liability: </strong><br />We strive to provide accurate and reliable information on our website, but we do not guarantee its completeness or accuracy. We shall not be liable for any direct, indirect, incidental, or consequential damages arising from your use of our website or reliance on its content.
                    </p>

                  
                    <p><strong>6. Privacy Policy: </strong><br />We value your privacy and handle your personal information in accordance with our privacy policy. By using our website, you consent to the collection, use, and disclosure of your personal information as outlined in our privacy policy.</p>
                    <p>
                        <strong> 7. Modifications:</strong><br />We reserve the right to modify or update these terms and conditions at any time without prior notice. Your continued use of the website after any changes indicates your acceptance of the revised terms.
                    </p>

                    <p><strong>8. Governing Law: </strong><br />These terms and conditions are governed by and construed in accordance with the laws of India. Any disputes arising from your use of the website will be subject to the exclusive jurisdiction of the courts in [Delhi].</p>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->

</main>